body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset,legend, button, input, textarea, /* form elements 表单元素 */
th, td { 
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}
a:link,
a:visited
{
    text-decoration: none;

    color: #333;
}
body
{
    font-family: '微软雅黑';

    color: #14191e;
}
header{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f4f4f4;
    background:#f8f8f8;
}
.container{
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}
header>.container>nav{
    float: left;
}
header>.container>nav>a{
    display: block;
    float: left;
   margin-right: 30px;
    text-align: center;
}
header>.container>.righter{
    
    float: right;
    margin: 0 auto;
    text-align: center;
}
header>.container>.righter ul li{
    display: block;
    float: left;
    width: 80px;
    height: 30px;

}
header>.container>.righter>ul li>a{

    display: inline-block;
    margin-top: 2px;
    width: 62px;
    height: 22px;
   
   background: url('../img/sprite.png') no-repeat -11px -27px;
}         
.suber{
    height: 50px;
    margin-top: 30px;
}                                 
.suber a{
    display: block;
    float: left; 
    margin: 5px 30px 0 0;
}
.suber img{
    float: left;
}
.suber ul{
    float: right;
}
.banner{
    margin-top: 100px;
}
